.home {
  width: 402px;
  height: 469px;
  border-radius: 0.5rem;
  padding: 2rem;
  border: 1px solid whitesmoke;
  text-align: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.home__title {
  line-height: 27px;
  color: #4f4f4f;
}

.home__text {
  color: #828282;
  font-size: 10px;
  margin: 1rem 0;
}

.image-container {
  cursor: pointer;
  border-style: dashed;
  border-color: white;
  border: 1px dashed #97bef4;
  background: #f6f8fb;
  border-radius: 12px;
  padding: 2rem;
}

.option-text {
  margin: 1rem;
  font-size: 12px;
  color: #bdbdbd;
}

.home__button {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  color: white;
  background-color: #2f80ed;
}
